.part1 h2{
    color: red;
}

.part1 p{
    color: white;
    background-color: black;
}

.part2 h2{
    color: green;
}

.part2 p {
    color: green;
    background-color: darkred;
}

.part3{
    color: green;
}

.part4 > p{
    color: green;
}

.csym019{
    background-color: aquamarine;
    width: 48%;
    float: left;
    margin: 0.5%;
    padding: 0.5%;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 30px;
}

.csym015{
    background-color: yellow;
    width: 48%;
    float: left;
    margin: 0.5%;
    padding: 0.5%;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 30px;
}

.heading{
    min-height: 30%;
    background-color: blueviolet;
}

.body{
    min-height: 70%;
    background-color: yellow;
}

.links{
    min-width: 30%;
    float: left;
}

.body > p{
    min-width: 50%;
}

.righthandside{
    min-width: 20%;
}

.footer{
    min-height: 10%;
    background-color: green;
}

